body {
  
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  
}

.login-container {
  display: flex;
  justify-content: center; /* center horizontally */     
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  margin-top: 53px;
 
}

.Hero-content {
  width: 100%;
  height: 800px;
  background-image: url(../assets/images/Loginbg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}