@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');



nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 70px;
  height: 80px;
  background-color: #111827;
}

.logo {
  display: flex;
  align-items: center;
}
.logo-text{

font-family: 'Inter', sans-serif;
font-weight: 700;
font-style: Bold;
font-size: 24px;
line-height: 24px;
letter-spacing: 0%;
justify-content: top;
color: white;


}

.nav-links {
  display: flex;
  gap: 20px;
  width: 527.6875;
  height: 24;
  opacity: 1;
  top: 28px;
  left: 363.16px;
  color: white;
}

.nav-links a {
  color: white; 
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;  
  text-decoration: none; 
}

.signup-button {
  background-color: #059669;
  color: white;
  padding: 8px 24px;
  border: none;
  outline: none;
  border-radius: 9999px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.2s;
}

.signup-button:hover {
  background-color: #047857;
}